<% if(error && error.length > 0){ %>
  <p class="flash-message error">
    <span><%= error %></span>
    <span><a class="closeB">close</a></span>
  </p>
<% } %>

<% if(success && success.length > 0){ %>
  <p class="flash-message success">
    <span><%= success %></span>
    <span><a class="closeB">close</a></span>
  </p>
<% } %>


<script type="text/javascript">
  // var flashTimeId = setTimeout(function(){
  //   $('.flash-message').slideUp(500);
  // }, 5000);

  $('.closeB').on('click', function(){
    $('.flash-message').slideUp(500);
  });
</script>
