<div class="headerDiv">
  <a href="/">
  <img id="logoimg" src="img/pkLogo2.png" alt="PARK KING">
  </a>
  <a href="/userinfo2">
  <img id="userimg" src="img/userIcon.png" alt="PARK KING">
  </a>
</div>
<div class="menuDiv">
  <div class="mainBut"><a href="/status"><img src="img/statusBut.jpg" class="homePageBut"></a></div>
  <div class="mainBut"><a href="/status"><img src="img/qrBut.jpg" class="homePageBut"></a></div>
  <div class=mainBut><a href="/status"><img src="img/reserveBut.jpg" class="homePageBut"></a></div>
</div>
