<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="stylesheet" href="/stylesheet/form.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>


<body>

        <div class="container-login100" style="background-color: black;">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                    <form class="login100-form validate-form" action="/carregister" enctype="multipart/form-data" method="POST">
                        <span class="login100-form-title p-b-37">
                            Car Register
                        </span>

                        <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
                            <input id="plateNumber" class="input100" type="text" name="plateNumber" placeholder="Plate Number (e.g. 2กก9999)"  required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-25">
                          <select class="input100 select100" style="border: none;" id="occupationInput" name="province" id="province">
                            <option>Select Your Plate Province</option>
                            <option value="Bangkok">Bangkok</option>
                            <option value="Amnat Charoen">Amnat Charoen</option>
                            <option value="Ang Thong">Ang Thong</option>
                            <option value="Bueng Kan">Bueng Kan</option>
                            <option value="Buriram">Buriram</option>
                            <option value="Chachoengsao">Chachoengsao</option>
                            <option value="Chai Nat"> Chai Nat</option>
                            <option value="Chaiyaphum">Chaiyaphum</option>
                            <option value="Chanthaburi">Chanthaburi</option>
                            <option value="Chiang Mai">Chiang Mai</option>
                            <option value="Chiang Rai">Chiang Rai</option>
                            <option value="Chonburi">Chonburi</option>
                            <option value="Chumphon">Chumphon</option>
                            <option value="Kalasin">Kalasin</option>
                            <option value="Kamphaeng Phet">Kamphaeng Phet</option>
                            <option value="Kanchanaburi">Kanchanaburi</option>
                            <option value="Khon Kaen">Khon Kaen</option>
                            <option value="Krabi">Krabi</option>
                            <option value="Lampang">Lampang</option>
                            <option value="Lamphun">Lamphun</option>
                            <option value="Loei">Loei</option>
                            <option value="Lopburi">Lopburi</option>
                            <option value="Mae Hong Son">Mae Hong Son</option>
                            <option value="Maha Sarakham">Maha Sarakham</option>
                            <option value="Mukdahan">Mukdahan</option>
                            <option value="Nakhon Nayok">Nakhon Nayok</option>
                            <option value="Nakhon Pathom">Nakhon Pathom</option>
                            <option value="Nakhon Phanom">Nakhon Phanom</option>
                            <option value="Nakhon Ratchasima">Nakhon Ratchasima</option>
                            <option value="Nakhon Sawan">Nakhon Sawan</option>
                            <option value="Nakhon Si Thammarat">Nakhon Si Thammarat</option>
                            <option value="Nan">Nan</option>
                            <option value="Narathiwat">Narathiwat</option>
                            <option value="Nong Bua Lam Phu">Nong Bua Lam Phu</option>
                            <option value="Nong Khai">Nong Khai</option>
                            <option value="Nonthaburi">Nonthaburi</option>
                            <option value="Pathum Thani">Pathum Thani</option>
                            <option value="Pattani">Pattani</option>
                            <option value="Phang Nga">Phang Nga</option>
                            <option value="Phatthalung">Phatthalung</option>
                            <option value="Phayao">Phayao</option>
                            <option value="Phetchabun">Phetchabun</option>
                            <option value="Phetchaburi">Phetchaburi</option>
                            <option value="Phichit">Phichit</option>
                            <option value="Phitsanulok">Phitsanulok</option>
                            <option value="Phra Nakhon Si Ayutthaya">Phra Nakhon Si Ayutthaya</option>
                            <option value="Phrae">Phrae</option>
                            <option value="Phuket">Phuket</option>
                            <option value="Prachinburi">Prachinburi</option>
                            <option value="Prachuap Khiri Khan">Prachuap Khiri Khan</option>
                            <option value="Ranong">Ranong</option>
                            <option value="Ratchaburi">Ratchaburi</option>
                            <option value="Rayong">Rayong</option>
                            <option value="Roi Et">Roi Et</option>
                            <option value="Sa Kaeo">Sa Kaeo</option>
                            <option value="Sakon Nakhon">Sakon Nakhon</option>
                            <option value="Samut Prakan">Samut Prakan</option>
                            <option value="Samut Sakhon">Samut Sakhon</option>
                            <option value="Samut Songkhram">Samut Songkhram</option>
                            <option value="Saraburi">Saraburi</option>
                            <option value="Satun">Satun</option>
                            <option value="Sing Buri">Sing Buri</option>
                            <option value="Sisaket">Sisaket</option>
                            <option value="Songkhla">Songkhla</option>
                            <option value="Sukhothai">Sukhothai</option>
                            <option value="Suphan Buri">Suphan Buri</option>
                            <option value="Surat Thani">Surat Thani</option>
                            <option value="Surin">Surin</option>
                            <option value="Tak">Tak</option>
                            <option value="Trang">Trang</option>
                            <option value="Trat">Trat</option>
                            <option value="Ubon Ratchathani">Ubon Ratchathani</option>
                            <option value="Udon Thani">Udon Thani</option>
                            <option value="Uthai Thani">Uthai Thani</option>
                            <option value="Uttaradit">Uttaradit</option>
                            <option value="Yala">Yala</option>
                            <option value="Yasothon">Yasothon</option>
                          </select>
                        </div>

                        <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                            <input class="input100" type="text" name="carBrand" placeholder="Brand (e.g. Toyota)">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                                <input class="input100" type="text" name="carModel" placeholder="Model (e.g. Prius 2015)">
                                <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                                <input class="input100" type="text" name="carColor" placeholder="Color (e.g. Silver)">
                                <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-25 p-2" data-validate = "Enter password">
                                <input id="uploadPicBut" type='file' onchange="readURL(this);" name="carPic" accept="image/*"/>
                                <span class="focus-input100"></span>
                                <p class="d-inline" style="margin-left: 10px;">Upload a picture of the car.</p>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">
                                Submit
                            </button>
                        </div>

                        <div class="text-center" style="margin-top: 10px;">
                            <a href="/userinfo" class="txt2 hov1">
                                Go Back
                            </a>
                        </div>
                    </form>




                    <script type="text/javascript">
                        function readURL(input) {
                           if (input.files && input.files[0]) {
                               var reader = new FileReader();

                               reader.onload = function (e) {
                                   $('#blah')
                                       .attr('src', e.target.result);
                               };

                               reader.readAsDataURL(input.files[0]);
                           }
                       }
                      </script>
                </div></div>

<script src="/js/carRegistrerScript.js"></script>

</body>
</html>
