<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Park King</title>

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css">

        <link rel="stylesheet" href="/stylesheet/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
    <!--===============================================================================================-->

        <link rel="stylesheet" type="text/css" href="/stylesheet/loginUtil.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/login1.css">
    <!--===============================================================================================-->

    </head>
    <body>



      <form action="/register" method="POST">
            <div class="container-login100" style="background-color: black;">
                    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                        <form class="login100-form validate-form">
                            <span class="login100-form-title p-b-37">
                                Register
                            </span>
                            <div class="wrap-input100 validate-input m-b-20" required>
                                <input class="input100" type="text" name="username" placeholder="Username" id="username">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input m-b-25">
                                    <input class="input100" type="password" name="password" placeholder="Password" id="password">
                                    <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input m-b-25" >
                                    <input class="input100" type="password" name="passwordConfirmation" placeholder="Re-Enter your Password" id="passwordConfirmation">
                                    <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input m-b-25" required>
                                    <input class="input100" type="text" name="email" placeholder="E-Mail" id="Email">
                                    <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 validate-input m-b-20" required>
                                <input class="input100" type="text" name="firstName" placeholder="First Name" id="Firstname">
                                <span class="focus-input100"></span>
                            </div>

                            <div class="wrap-input100 validate-input m-b-25" required>
                                <input class="input100" type="text" name="lastName" placeholder="Last Name" id="Lastname">
                                <span class="focus-input100"></span>
                            </div>
                            <!-- <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                                    <input class="input100" type="text" name="profession" placeholder="Profession">
                                    <span class="focus-input100"></span>
                            </div>   -->
                            <div class="wrap-input100 validate-input m-b-25">
                                    <!-- <label for="occupationInput">Select your occupation</label> -->
                                    <select class="input100 select100" id="occupationInput" name="occupation" onchange="occupationCheck(this)">
                                      <option>Select your occupation</option>
                                      <option value="Student">Student</option>
                                      <option value="Professor">Professor or Faculty member</option>
                                      <option value="Guest">Others</option>
                                    </select>
                                  </div>
                            <!-- hidden input for student id -->
                            <div id="inputStudentID" class="wrap-input100 validate-input m-b-25" style="display: none;">
                                    <input class="input100" type="text" name="studentID" placeholder="Student ID">
                                    <span class="focus-input100"></span>
                            </div>
                            <!-- hidden input for professor id -->
                            <div id="inputProfessorID" class="wrap-input100 validate-input m-b-25" style="display: none;">
                                    <input class="input100" type="text" name="professorID" placeholder="Professor ID">
                                    <span class="focus-input100"></span>
                            </div>
                            <!-- hidden input for national id -->
                            <div id="inputNationalID" class="wrap-input100 validate-input m-b-25" style="display: none;">
                                    <input class="input100" type="text" name="NationalID" placeholder="National ID">
                                    <span class="focus-input100"></span>
                            </div>
                                                        <!-- JS for occupation checking -->
                                                        <script type="text/javascript">
                                                            function occupationCheck(that){
                                                            if(that.value == "Student"){
                                                                document.getElementById("inputStudentID").style.display = "block";
                                                                document.getElementById("inputProfessorID").style.display = "none";
                                                                document.getElementById("inputNationalID").style.display = "none";
                                                            } else if(that.value == "Professor"){
                                                                document.getElementById("inputStudentID").style.display = "none";
                                                                document.getElementById("inputProfessorID").style.display = "block";
                                                                document.getElementById("inputNationalID").style.display = "none";
                                                            } else if(that.value == "Guest"){
                                                                document.getElementById("inputStudentID").style.display = "none";
                                                                document.getElementById("inputProfessorID").style.display = "none";
                                                                document.getElementById("inputNationalID").style.display = "block";
                                                            } else{
                                                                document.getElementById("inputStudentID").style.display = "none";
                                                                document.getElementById("inputProfessorID").style.display = "none";
                                                                document.getElementById("inputNationalID").style.display = "none";
                                                            }
                                                            }
                                                        </script>

                            <div class="wrap-input100 validate-input m-b-25 p-2" data-validate = "Enter password">
                                    <!--id="uploadPicBut"-->
                                    <input name="profilePic" type='file' onchange="readURL(this);" />
                                    <span class="focus-input100"></span>
                                    <p class="d-inline">Upload your picture</p>
                            </div>

                            <div class="container-login100-form-btn">
                                <button type="submit" class="login100-form-btn">
                                    Submit
                                </a>
                            </div>



                            <!-- <div class="flex-c p-b-112">
                                <a href="#" class="login100-social-item">
                                    <i class="fa fa-facebook-f"></i>
                                </a>

                                <a href="#" class="login100-social-item">
                                    <img src="img/icons/icon-google.png" alt="GOOGLE">
                                </a>
                            </div> -->

                            <div class="text-center">
                                <a href="/login" class="txt2 hov1">
                                    Go Back
                                </a>
                            </div>
                        </form>

                      </form>


                        <script type="text/javascript">
                            function readURL(input) {
                               if (input.files && input.files[0]) {
                                   var reader = new FileReader();

                                   reader.onload = function (e) {
                                       $('#blah')
                                           .attr('src', e.target.result);
                                   };

                                   reader.readAsDataURL(input.files[0]);
                               }
                           }
                          </script>
      <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
          document.getElementById("mySidenav").style.width = "100%";
          // document.getElementById("main").style.display="none";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          // document.getElementById("main").style.display="block";
        }

        /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
          var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("mainNavBar").style.top = "0";
          } else {
            document.getElementById("mainNavBar").style.top = "-70px";
          }
          prevScrollpos = currentScrollPos;
        }
      </script>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js.map"></script>
        <script>
          AOS.init();
          // window.addEventListener('load', AOS.refresh)
        </script>
    </body>
</html>
