<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Park King</title>

        <link rel="stylesheet" href="/stylesheet/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/stylesheet/loginUtil.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/login1.css">

        <style>
            /* body {
              background-image: url("../colors/ColorBackGroundGreen.jpg") !important;
              background-size: cover !important;
            } */
          </style>
    </head>
    <body>

      <% include partials/menuBar %>

      <div id="main">

            <form action="/register"  method="POST">
                    <div class="container pt-2">



                      <div class="card mt-2 mx-1">
                        <h7 class="card-header">Select your Car</h7>
                        <div class="card-body">
                          <div class="carSelect">
                            <div class="btn-group carBtnGroup d-flex justify-content-around" data-toggle="buttons">
                              <label class="btn carChoice">
                                <div class="method" style="background-image: url(img/car1.png)">9999</div>
                                <input type="radio" name="options">
                              </label>
                              <label class="btn carChoice">
                                <div class="method" style="background-image: url(img/car1.png)">8888</div>
                                <input type="radio" name="options">
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="card mt-2 mx-1">
                        <h7 class="card-header">Select the Building</h7>
                        <div class="card-body">
                          <div class="buildingSelect">
                            <div class="btn-group buildingBtnGroup d-flex justify-content-around " data-toggle="buttons">
                              <label class="btn buildingChoice">
                                <div class="building arts"></div>
                                <input type="radio" name="options">
                              </label>
                              <label class="btn buildingChoice">
                                <div class="building poli"></div>
                                <input type="radio" name="options">
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>



                      <!-- <a href="/showqr" class="btn btn-dark btn-lg btn-block mt-2 mx-1" id="submitBtn">Submit</a> -->
                      <div class="container-login100-form-btn pt-2">
                        <button type="submit" class="login100-form-btn" style="background: grey;">
                          Submit
                        </button>
                      </div>
                      <div class="row">
                      <small class="text-muted mx-1 mt-2">Once submitted, you will have 30 minutes to arrive at the building before your reservation expires</small>
                    </div>
                    </div>
                  </form>

    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js.map"></script>
    </body>
</html>
