<!DOCTYPE html>
<!-- saved from url=(0036)https://schmich.github.io/instascan/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Instascan – Demo</title>
    <link rel="icon" type="image/png" href="https://schmich.github.io/instascan/favicon.png">
    <link rel="stylesheet" href="./Instascan – Demo_files/style.css">
    <script type="text/javascript" src="./Instascan – Demo_files/vue.min.js"></script>
    <script type="text/javascript" src="//cdn.temasys.io/adapterjs/0.15.x/adapter.min.js"></script>
    <script type="text/javascript" src="./Instascan – Demo_files/instascan.min.js"></script>
  </head>
  <body>
    <a href="https://github.com/schmich/instascan"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="./Instascan – Demo_files/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div id="app"><div class="sidebar"><section class="cameras"><h2>Cameras</h2> <ul><!----> <li><span title="FaceTime HD Camera" class="active">FaceTime HD Camera</span> <!----></li></ul></section> <section class="scans"><h2>Scans</h2> <ul><li class="empty">No scans yet</li></ul> <ul></ul></section></div> <div class="preview-container"><video id="preview" autoplay="autoplay" class="active" style="transform: scaleX(-1);"></video></div></div>
    <script type="text/javascript" src="./Instascan – Demo_files/app.js"></script>


</body></html>

<!-- <!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <script type="text/javascript" src="./js/instascan.min.js"></script>
    <title>Instascan</title>

  </head>

  <body>

    <video id="preview"></video>


    <script type="text/javascript">
          console.log('scanner');
          let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });

          scanner.addListener('scan', function (content) {
            console.log(content);
             try { window.location.hash = new URL(content).hash } catch (e) { console.log(e) }
          });
          Instascan.Camera.getCameras().then(function (cameras) {
            console.log('getting camera')
            if (cameras.length > 0) {
              scanner.start(cameras[0]);
            } else {
              console.error('No cameras found.');
            }
          }).catch(function(e) {
            console.error(e);
          });
    </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>

  </body>
</html> -->
