<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

  <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->

  <script type="text/javascript" src="./js/qrcode.js"></script>

  <style type="text/css">
    #main {
      text-align: center;
    }
    /* body {
        background-image: url("../colors/ColorBackGroundOrange.jpg");
        background-size: auto;
        background-repeat: no-repeat;
      } */


  </style>

</head>

<body>


  <% include partials/menuBar %>
  <% include partials/flash %>

  <div id="main">



  <div class="container mt-2">
    <div class="col" id="qrcode">
    </div>
    <div class="col">
        <a class="btn btn-lg btn-dark btn-block btn mt-1" id="parkingFlap">Open Parking Flap</a>
    <form action="/cancel"  class="cancel" method="POST">
      <button class="btn btn-lg btn-dark btn-block mt-1" type="submit" id="cancel">Cancel</button>
    </form>
    <script>
    $('form.cancel').submit(function(event){
            var r = confirm("Do you want to cancel the reservation?");
            if (r == true) {
              return;
            } else {
              return false;
          }
          });
    </script>
    </div>
  </div>

  <script type="text/javascript">
    function updateQRCode(text) {
      var element = document.getElementById("qrcode");

      var bodyElement = document.body;
      if (element.lastChild)
        element.replaceChild(showQRCode(text), element.lastChild);
      else
        element.appendChild(showQRCode(text));
    }
    updateQRCode('<%= qrCode %>');
  </script>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>


</body>

</html>
