<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <link rel="stylesheet" href="/stylesheet/style.css">

  <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./js/qrcode.js"></script>


  <style type="text/css">
    #main {
      text-align: center;
    }

    form button {
      margin: 10px 0;
    }

    div#qrcode {
      background-color: white;
      padding: 30px 0;
    }
  </style>
  <script>
var config = {
	mqtt_server: "m24.cloudmqtt.com",
	mqtt_websockets_port: 34366,
	mqtt_user: "vxamsplq",
	mqtt_password: "VQ5vPZMpOmrc"
};

$(document).ready(function(e) {
	// Create a client instance
	client = new Paho.MQTT.Client(config.mqtt_server, config.mqtt_websockets_port, "web_" + parseInt(Math.random() * 100, 10));
	//Example client = new Paho.MQTT.Client("m11.cloudmqtt.com", 32903, "web_" + parseInt(Math.random() * 100, 10));
	// connect the client
	client.connect({
		useSSL: true,
		userName: config.mqtt_user,
		password: config.mqtt_password,
		onSuccess: function() {
			// Once a connection has been made, make a subscription and send a message.
			// console.log("onConnect");
			$("#status").text("Connected").removeClass().addClass("connected");
			client.subscribe("/PARKINGFLAP");
			mqttSend("/PARKINGFLAP", "PREVIOUS");
		},
		onFailure: function(e) {
			$("#status").text("Error : " + e).removeClass().addClass("error");
			// console.log(e);
		}
	});

	client.onConnectionLost = function(responseObject) {
		if (responseObject.errorCode !== 0) {
			$("#status").text("onConnectionLost:" + responseObject.errorMessage).removeClass().addClass("connect");
			setTimeout(function() { client.connect() }, 1000);
		}
	}

	client.onMessageArrived = function(message) {
		// $("#status").text("onMessageArrived:" + message.payloadString).removeClass().addClass("error");
		console.log(message.payloadString);
		if (message.payloadString == "open" || message.payloadString == "close") {
			$("#open").attr("disabled", (message.payloadString == "open" ? true : false));
			$("#close").attr("disabled", (message.payloadString == "close" ? true : false));
		}
	}

  var isScan;
  function checkScan(){
    $.get('/getScan', function(data){
      isScan = data.isScan;
      console.log('Scan status:'+isScan);
    });
  }
  setInterval(checkScan,1000)

	$("#open").click(function(e) {
    if(isScan){
      console.log('openning flap');
      mqttSend("/PARKINGFLAP", "OPEN");
    } else {
      console.log('scan first');
    }
    var r = confirm("Do you want to open the parking flap?");
    if (r == true) {
      return;
    } else {
      return false;
  }
  });
	$("#close").click(function(e) {
      mqttSend("/PARKINGFLAP", "CLOSE");
      var r = confirm("Do you want to close the parking flap?");
      if (r == true) {
        return;
      } else {
        return false;
    }
  });
});

var mqttSend = function(topic, msg) {
	var message = new Paho.MQTT.Message(msg);
	message.destinationName = topic;
	client.send(message);
}

//get reserve Status
var getReserveStatusID = setInterval(function(){
  $.get('/reserveStatus')
  .done(function(data){
    var reserveStatus = data.reserveStatus;
    console.log(reserveStatus);
    if(reserveStatus == "Checked In"){
      $.('#qr-flash-p').css('display: block');
      $.('#qr-flash-text').text("Scan complete!");
    }
  })
  .fail(function(){
    console.log('err on getting reserve status!');
  });
}, 500);

$('.closeB').on('click', function(){
  $('.flash-message').slideUp(500);
});
</script>

</head>

<body>

  <% include partials/menuBar %>
  <% include partials/flash %>

  <p id="qr-flash-p" class="flash-message success" style="display: none;">
    <span id="qr-flash-text"></span>
    <span><a class="closeB">close</a></span>
  </p>



  <div id="main">



  <div class="infoDiv">


    <div class="col" id="qrcode">
    </div>

    <h3>LED Control : <span id="status" class="connect">Connect...</span></h3>
    <!-- <hr /> -->


    <button class="buttonhalf blue2" type="submit" id="open">OPEN</button>

    <!-- &nbsp;&nbsp;&nbsp; -->
    <button class="buttonhalf purple" type="submit" id="close">CLOSE</button>
    <form action="/cancel"  class="cancel" method="POST">
        <button class="button pink2" type="submit" id="cancel">Cancel</button>
    </form>

    <script>
    $('form.cancel').submit(function(event){
            var r = confirm("Do you want to cancel the reservation?");
            if (r == true) {
              return;
            } else {
              return false;
          }
          });
    </script>

  </div>

  <script type="text/javascript">
    function updateQRCode(text) {
      var element = document.getElementById("qrcode");

      var bodyElement = document.body;
      if (element.lastChild)
        element.replaceChild(showQRCode(text), element.lastChild);
      else
        element.appendChild(showQRCode(text));
    }
    updateQRCode('<%= qrCode %>');
  </script>




  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./js/jquery-1.11.3.min.js"></script>
  <script src="./js/mqttws31.js"></script>


</body>

</html>
