<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profile Page</title>

        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/stylesheet/loginUtil.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/login1.css">
    </head>

    <body>

        <% include partials/menuBar %>

        <div class="main-user-info">

            <div class="user-info-div" style="background: #f5f5f5; color: black;">
                <li><h2>Select Your Car</h2></li>
                <% for(i = 0; i < currentPlateNumber.length; i++){ %>
                  <div class="select-car-div">
                    <li><img src="data:image/png;base64,<%= currentCarPicture[i] %>" width="50%"></li>
                    <li style="padding-bottom: 20px;">Plate Number : <%=currentPlateNumber[i]%><br>

                  </div>
                <% } %>
            </div>

            <div class="user-info-div" style="background: #f5f5f5; color: black;">
                <h2>Select Building</h2>
                <div class="select-building-div">
                    <li><img src="img/artbuilding.jpg" width="50%"></li>
                    <li><img src="img/polibuilding.jpg" width="50%"></li>
                </div>
            </div>

            <div class="container-login100-form-btn pt-2" style="margin-top: 10px;">
              <button type="submit" class="login100-form-btn" style="background: grey;">
                Submit
              </button>
            </div>
            <p class="footer-text">Once submitted, you will have 30 minutes to arrive at the building before your reservation expires</p>


        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
