<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheet/tempStyle.css">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>


    <% include partials/menuTemp %>
    <div class="bodyDiv">
      <div id="info1Div" class="infoDiv purple">
        <h3><Strong>PARK KING</Strong></h3>
        <p>Book a parking spot anyhwere anytime using any devices</p>
        <!-- <a href="#" class="btn btn-outline-dark">More Info</a> -->
      </div>
      <div id="info2Div" class="infoDiv orange">
          <h3><strong>Park Convinently</strong></h3>
          <p>Do not waste your time finding a perfect parking spot. You can book an available spot fpr your car before you even arrive at the campus!!</p>
          <!-- <a href="#" class="btn btn-outline-dark">More Info</a> -->
      </div>
      <div id="info3Div" class="infoDiv green">
          <h3><strong>No Parking Ticket</strong></h3>
          <p>We will generate a secure and unique QR Code for you. All you need to do is scan it at the entrance and the system will do the rest for you.</p>
          <!-- <a href="#" class="btn btn-outline-dark">More Info</a> -->
      </div>
      <div id="info4Div" class="infoDiv pink">
        <h3><strong>Real-Time Status</strong></h3>
        <p>Our sytem will update your parked car live to your device, so you know exactly how long you have parked and the parking fee.</p>
        <!-- <a href="#" class="btn btn-outline-dark">More Info</a> -->
      </div>
    </div>

</body>


</html>
