<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Park King</title>

        <link rel="stylesheet" href="/stylesheet/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        
      <div id="mainNavBar" class="">

      <div id="navArea" class="d-flex w-100 p-0 justify-content-between">
        <div id="logoDiv">
            <img src="img/pkLogo2.png" width="60" height="60" alt="PARK KING">
        </div>
        <div id="menuButton">
            <span onclick="openNav()">
              <img src="img/menu.png" width="40" height="40">
            </span>
        </div>
      </div>

      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <section id="profileMenu">
            <img src="img/profilePic.png" width="50" height="50" class="" alt="" id="profileBtn">
            <a id="profileName" href="#">John Doe</a>
          </section>
          <a href="/">Home</a>
          <a href="#">My Profile</a>
          <a href="#">Reserve</a>
          <a href="/status">Status</a>
          <a href="#">My QR</a>
      </div> 
      </div> 
      
      <div id="main">

        <div class="statusDiv" style="background: white; color: black;">
          <h3><strong>Profile</strong></h3>
          <img src="img/profilePic.png" width="70px" height="70px"><br>
          <a href="#"><img src="/img/edit.png" width="10px" height="10px"></a>
          <p>
            Name: 1234
            <br>
            Type: Student
            <br>
            ID: 5932515257
          </p>
        </div>


        <div class="statusDiv" style="background: white; color: black;">
            <h3><strong>My Car</strong></h3>
            <div class="card-deck">

                    <div class="card">
                      <div class="card-body">
                        <img class="card-img w-50" src="img/car1.png" alt="Card image cap">
                        <h5 class="card-title">ภก 9900</h5>
                      </div>
                    </div>
            
                    <div class="card">
                      <div class="card-body">
                        <img class="card-img w-50" src="img/car1.png" alt="Card image cap">
                        <h5 class="card-title">ภก 9900</h5>
                      </div>
                    </div>
            
                  </div>
                  <a href="/" class="btn btn-dark">Edit Car</a>
                  <a href="/" class="btn btn-dark">Add Car</a>
                  
        </div>


        <div class="statusDiv" style="background: white; color: black;">
                <h3><strong>History</strong></h3>
              
                <div class="card-header">
                        History
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">12/09/2019 Arts 2 hrs 40thb</li>
                        <li class="list-group-item">11/09/2019 Arts 3 hrs 50thb</li>
                        <li class="list-group-item">10/09/2019 Arts 4 hrs 60thb</li>
                      </ul>
        </div>

        
      

      <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
          document.getElementById("mySidenav").style.width = "100%";
          document.getElementById("main").style.display="none";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.display="block";
        }

        /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
          var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("mainNavBar").style.top = "0";
          } else {
            document.getElementById("mainNavBar").style.top = "-70px";
          }
          prevScrollpos = currentScrollPos;
        }
      </script>

    
          

        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js.map"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
          AOS.init();
        </script>
    </body>
</html>