<!DOCTYPE html>
<html>


<head>
  <title>Menu bar Template</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

          <!-- Menu Bar version 3 -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="" href="/home">
                    <img src="img/LogoFinal.png" width="40" height="40" class="" alt="PARK KING" id="logoPic">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <!-- Section appears when user has log in -->
                    <section id="userInfoMenu" class="border rounded mt-3 p-2 text-center">
                            <a class="" href="/userinfo">
                                    <img src="img/profilePic.png" width="30" height="30" class="" alt="" id="profileBtn">
                            </a>
                            <p>John Doe</p>
                            <a href="#" class="">Log out</a>
                    </section>
                    <!-- Section appears when no user is log on -->
                    <section id="logInMenu" class="mt-3">
                            <a href="/login" id="logInBtn" class="btn btn-primary btn-large">Log in</a>
                            <a href="/register" id="registerBtn" class="btn btn-primary btn-large">Register</a>
                    </section>
                    <!-- Menu Items -->
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active border rounded">
                                    <a class="nav-link pl-2" href="/" id="homeBtn">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active border rounded">
                                    <a class="nav-link pl-2" href="/reserve" id="reserveBtn">Reserve<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active border rounded">
                                    <a class="nav-link pl-2" href="/status" id="statusBtn">Status<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active border rounded">
                                    <a class="nav-link pl-2" href="/showqr" id="QRBtn">My QR<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active border rounded">
                                    <a class="nav-link pl-2" href="#" id="historyBtn">History<span class="sr-only">(current)</span></a>
                            </li>
                    </ul>
            </div>
    </nav>



  <form>
    <div class="container pt-2">


      <!-- <div class="form-group">
        <label for="carSelect">Select Your Car</label>
        <select class="form-control" id="occupationInput">
          <option></option>
          <option value="arts">1225</option>
          <option value="poloticalScience">1248</option>
          <option value="others">9900</option>
        </select>
      </div>
 -->

      <div class="card mt-2 mx-1">
        <h7 class="card-header">Select your Car</h7>
        <div class="card-body">
          <div class="carSelect">
            <div class="btn-group carBtnGroup d-flex justify-content-around" data-toggle="buttons">
              <label class="btn carChoice">
                <div class="method" style="background-image: url(img/car1.png)">9999</div>
                <input type="radio" name="options">
              </label>
              <label class="btn carChoice">
                <div class="method" style="background-image: url(img/car1.png)">8888</div>
                <input type="radio" name="options">
              </label>
            </div>
          </div>
        </div>
      </div>


      <div class="card mt-2 mx-1">
        <h7 class="card-header">Select the Building</h7>
        <div class="card-body">
          <div class="buildingSelect">
            <div class="btn-group buildingBtnGroup d-flex justify-content-around " data-toggle="buttons">
              <label class="btn buildingChoice">
                <div class="building arts"></div>
                <input type="radio" name="options">
              </label>
              <label class="btn buildingChoice">
                <div class="building poli"></div>
                <input type="radio" name="options">
              </label>
            </div>
          </div>
        </div>
      </div>



      <button type="button" class="btn-sm btn-primary mt-2 mx-1" id="submitBtn">Submit</button>
    </div>
  </form>


  <script>
  document.getElementById("logoPic").addEventListener("click", function(){
      window.location = 'home';
  });
  </script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</html>
