<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="stylesheet" href="/stylesheet/form.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>
<% include partials/flash %>
    <form action="/login" method="POST" class="login100-form-title p-b-37">
        <div class="container-login100" style="background-color: black;">

            <!-- Title -->
            <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                    <span class="login100-form-title p-b-37">
                        Sign In
                    </span>

                    <div class="wrap-input100 validate-input m-b-20" required>
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-25" required>
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Sign In
                        </button>
                    </div>

                    <div class="text-center p-t-57 p-b-20">
                        <a href="/register" class="txt2 hov1">Sign Up</a>
                    </div>
            </div>
        </div>


    </form>




</body>
</html>
