.item {
    position: relative;
    float: left;
  }

  .item h2 {
    text-align: center;
    position: absolute;
    line-height: 125px;
    width: 100%;
  }



  body{
    background-color: #eaeaea !important;
  }

  .homeBtn{
      /* background-image: linear-gradient(to right, #202020 , black); */
      /* border-color: black;
      border-style: solid;
      border-radius: 15px; */
      background: black;
      border-radius: 10px;
      height: 100%;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      /* box-shadow: 10px 6px 20px 0 grey; */
  }

  #homeMenuArea :hover{
      /* background-image: linear-gradient(to right, #202020 , black); */
      transform: scale(1.1);
  }
  .infoDiv{
      /* border-style: solid;
      border-radius: 15px; */
      /* background: black; */
      border-radius: 10px;
      /* background-image: linear-gradient(to right, #202020 , black); */
      background: black;
      height: 150px;
      width: 98%;
      color: white;
      /* box-shadow: 10px 6px 20px 0 grey; */
  }


  svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
  }

  .circle_animation {
    stroke-dasharray: 440;
    /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 1s linear;
  }

  .buildingSelect {
    /* padding: 50px; */
  }

  .buildingSelect .buildingBtnGroup {
    max-width: 1000px;
    /* margin: auto; */
  }

  .buildingSelect .buildingBtnGroup .buildingChoice {
    padding: 65px;
    box-shadow: none;
    position: relative;
  }

  .buildingSelect .buildingBtnGroup .buildingChoice.active {
    outline: none !important;
  }

  .buildingSelect .buildingBtnGroup .buildingChoice.active .building {
    border-color: #04f735;
    border-radius: 3px;
    outline: none !important;
    box-shadow: 0px 3px 22px 0px #7b7b7b;
  }

  .buildingSelect .buildingBtnGroup .buildingChoice .building {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    transition: all 0.5s;
  }

  .buildingSelect .buildingBtnGroup .buildingChoice .building.arts {
    background-image: url("../img/artbuilding.jpg");
  }

  .buildingSelect .buildingBtnGroup .buildingChoice .building.poli {
    background-image: url("../img/polibuilding.jpg");
  }

  .buildingSelect .buildingBtnGroup .buildingChoice .building:hover {
    border-color: #04f735;
    border-radius: 3px;
    outline: none !important;
  }

  .carSelect {
      /* padding: 50px; */
  }

  .carSelect .carBtnGroup {
      max-width: 1000px;
      /* margin: auto; */
  }

  .carSelect .carBtnGroup .carChoice {
      padding: 65px;
      box-shadow: none;
      position: relative;
  }

  .carSelect .carBtnGroup .carChoice.active {
      outline: none !important;
  }

  .carSelect .carBtnGroup .carChoice.active .method {
      border-color: #04f735;
    border-radius: 3px;
      outline: none !important;
      box-shadow: 0px 3px 22px 0px #7b7b7b;
  }

  .carSelect .carBtnGroup .carChoice .method {
      position: absolute;
      right: 5px;
      top: 5px;
      bottom: 5px;
      left: 5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: 3px solid transparent;
      transition: all 0.5s;
  }


  .carSelect .carBtnGroup .carChoice .method:hover {
      border-color: #04f735;
    border-radius: 3px;
      outline: none !important;
  }

  .nav-item {
    text-align: center;
  }


  .nav-item :hover {
    background: grey;
    border-radius: 2px
  }

  #logInBtn {
    width: 48%;
  }

  #registerBtn {
    width: 48%;
    float: right;
  }



    input[type=file] {
      padding: 10px;
      background: #ffffff;
    }
