/* ============================================================
For All Pages
============================================================ */

body {
    background-color: black !important;
    color: white !important;
    font-family: 'Lato', sans-serif !important;
}

.new-btn {
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}

#main {
    /* margin-top: 80px; */
    /* position: absolute; */
    z-index: -1;
  }

/* .infoDiv {
    width: 92%;
    height: auto;
    padding: 60px 60px 60px 60px;
    border-radius: 10px;
    z-index: -2 !important;
    margin-bottom: 20px;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 0 2px 4px 0 rgb(36, 36, 36),0 2px 10px 0 rgb(36, 36, 36)!important;
} */

.infoDiv {
  width: 80%;
  text-align: center;
  padding: 20px 10px;
  margin-top: 10px;
  border-radius: 15px;
}


.statusDiv {
    width: 92%;
    height: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    z-index: -2 !important;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.infoDiv h3 {
    margin-bottom: 40px;
}

.infoDiv p{
    z-index: -10 !important;
}

/* .card {
    z-index: -10 !important;
} */

.card img {
    z-index: -10 !important;
}


/* ============================================================
Set background color using class
============================================================ */
.green {
    background-image: url("../colors/ColorBackGroundGreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.green2 {
    background-image: url("../colors/ColorBackGroundGreen2.jpg");
    background-size: cover;
}

.IG {
    background-image: url("../colors/ColorBackGroundIG.jpg");
    background-size: cover;
}

.orange {
    background-image: url("../colors/ColorBackGroundOrange.jpg");
    background-size: cover;
}

.pink {
    background-image: url("../colors/ColorBackGroundPink.jpg");
    background-size: cover;
}
.purple {
    background-image: url("../colors/ColorBackGroundPurple.jpg");
    background-size: cover;
}
.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color:white;
}


/* ============================================================
Menu Bar
============================================================ */
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5px 0;
}

nav .menu a.top-menu-item {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
}

.menu img {
    width: 100%;
}

nav .menu a.menu-item {
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.profile-menu {
    width: 100%;
    height: auto;
    border-radius: 25px;
    background-color: #050B11;
    display: none;
    padding: 10px 0;
}

.profile-menu-div {
  padding: 20px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-menu-div li {
  list-style: none;
  /* margin-bottom: 5px; */
}

.profile-menu-div li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-menu-div li h4 {
  font-size: 20px;
  font-style: bold;
  margin: 15px 0;
}

.notification{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-bottom: 15px;
  margin-right: 3px;
}


.notification li {
  font-size: 16px;
  background-color: #131B22;
  /* border: 1px solid #fff; */
  width: 100%;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 5px;
}

.profile-menu-div li a.button {
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}

/* ============================================================
Flash message
============================================================ */
p.flash-message {
  margin: 2px 20%;
  text-align: center;
  color: white !important;
  font-size: 15px !important;
  padding: 3px 2px;
  border-radius: 10px;
}

p.error {
  background-color: rgb(255, 51, 51, 0.6);
}

p.success {
  background-color: rgb(64, 255, 0, 0.6);
}

p.gone {
  display: none;
}


/* ============================================================
Home Page
============================================================ */

#info1Div{
    /* background-image: linear-gradient( white, rgb(62, 62, 214));
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: url("../colors/ColorBackGroundPurple.jpg");
    background-size: cover;
}
#info2Div{
    background-image: url("../colors/ColorBackGroundOrange.jpg");
    background-size: cover;
}
#info3Div{
    background-image: url("../colors/ColorBackGroundGreen.jpg");
    background-size: cover;
}
#info4Div{
    background-image: url("../colors/ColorBackGroundIG.jpg");
    background-size: cover;
}



#firstPage {
    height: 100vh;
    margin-bottom: 0px;
    /* position: relative;
    overflow: auto; */
    min-height: 100% !important;
}

.carousel-item img{
    border-radius: 10px !important;
}

/* .homePageSlide {
    height: 100px !important;
} */


/* =======================================================================
Reserve
======================================================================= */
.card {
    border-radius: 10px !important;
}

.buildingSelect {
    /* padding: 50px; */
}

.buildingSelect .buildingBtnGroup {
    max-width: 1000px;
    /* margin: auto; */
}

.buildingSelect .buildingBtnGroup .buildingChoice {
    padding: 65px;
    box-shadow: none;
    position: relative;
    border-radius: 10px;

}

.buildingSelect .buildingBtnGroup .buildingChoice.active {
    outline: none !important;

}

.buildingSelect .buildingBtnGroup .buildingChoice.active .building {
    border-color: #04f735;
    border-radius: 10px;
    outline: none !important;
    box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.buildingSelect .buildingBtnGroup .buildingChoice .building {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    transition: all 0.5s;
    border-radius: 10px;

}

.buildingSelect .buildingBtnGroup .buildingChoice .building.arts {
    background-image: url("../img/artbuilding.jpg");
}

.buildingSelect .buildingBtnGroup .buildingChoice .building.poli {
    background-image: url("../img/polibuilding.jpg");
}

.buildingSelect .buildingBtnGroup .buildingChoice .building:hover {
    border-color: #04f735;
    border-radius: 10px;
    outline: none !important;
}

.carSelect {
      /* padding: 50px; */
}

.carSelect .carBtnGroup {
      max-width: 1000px;
      /* margin: auto; */
}

.carSelect .carBtnGroup .carChoice {
      padding: 65px;
      box-shadow: none;
      position: relative;
      border-radius: 10px;

}

.carSelect .carBtnGroup .carChoice.active {
      outline: none !important;
      border-radius: 10px;

}

.carSelect .carBtnGroup .carChoice.active .method {
      border-color: #04f735;
    border-radius: 10px;
      outline: none !important;
      box-shadow: 0px 3px 22px 0px #7b7b7b;
}

.carSelect .carBtnGroup .carChoice .method {
      position: absolute;
      right: 5px;
      top: 5px;
      bottom: 5px;
      left: 5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: 3px solid transparent;
      transition: all 0.5s;
      border-radius: 10px;

}


.carSelect .carBtnGroup .carChoice .method:hover {
      border-color: #04f735;
    border-radius: 10px;
      outline: none
}

form .card {
    color: black;
}

div.select-car-div {
  margin: 20px 40px;
  padding: 10px 0;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 20px;
}

p.footer-text {
  margin: 0 30px;
  text-align: center;
}


/* ============================================================
Car Register
============================================================ */

input[type=file] {
    padding: 10px;
    background: #ffffff;
  }


/* ============================================================
User Info Page
============================================================ */
div.main-user-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.user-info-div {
  width: 80%;
  text-align: center;
  padding: 20px 10px;
  margin-top: 10px;
  border-radius: 15px;
}

div.user-info-div li {
  list-style: none;
  margin-bottom: 10px;
}


div.user-info-div li h3 {
  font-size: 20px;
  margin: 0;
}

div.user-info-div li p {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}

div.car-div {
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 20px;
}

#myCarDiv .container {
    text-align: center;
}

#myCarDiv img {
    z-index: -5 !important;
}

#myCarDiv .border {
    border-radius: 10px;
    margin-bottom: 10px;
}

/* ============================================================
Stopwatch
============================================================ */

.stopwatch {
  font-size: 20vw;
  height: 100%;
  line-height: 100vh;
  text-align: center;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
